//! **************************************************************************
// Written by: Map K.31 on Fri Mar 05 17:18:11 2010
//! **************************************************************************

SCHEMATIC START;
COMP "AFF_A" LOCATE = SITE "F17" LEVEL 1;
COMP "AFF_B" LOCATE = SITE "H17" LEVEL 1;
COMP "AFF_C" LOCATE = SITE "C18" LEVEL 1;
COMP "AFF_D" LOCATE = SITE "F15" LEVEL 1;
COMP "AFF<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "AFF<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "AFF<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "AFF<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "AFF<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "AFF<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "AFF<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "AFF<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "SW0" LOCATE = SITE "G18" LEVEL 1;
COMP "SW1" LOCATE = SITE "H18" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

